html {

}

body {
	background: url(../scrougebg.jpg) no-repeat center center fixed;
	background-size: cover;
	font-family: 'Fjalla One', sans-serif;
	text-align: center;	
}

#ban {
	color: #ffbf00;
	font-size: 8vw;
	line-height: .5em;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}

#wrapper {
	width: 80vw;
	height: 80vw;
	margin: 2em auto;
	text-align: center;
}

#board {
	text-align: center;
	width: 100%;
	max-width: 30em;
	max-height: 30em;
	margin: 0 auto;
}

.box {
	height: 20vw;
	width: 32%;
	float: left;
	background-color: rgba(255,255,255,.4);
	border: #ffbf00 solid 2px;
	font-size: 20vw;
	max-height: 9em;
}

#announce  {
	background: url(../scrougebg.jpg) no-repeat center center fixed;
	background-size: cover;
	z-index: 2000;
	
}

.box img {
	width: 1em;
	z-index: 1000;

}